[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
tox = "*"

[requires]
python_version = "3.10"

[scripts]
build = "python setup.py sdist"
install = "pip install -e ."
uninstall = "python setup.py develop -u"
test = "pytest"
